
AdvancementAssignments/.vsconfig
AdvancementAssignments/AdvancementAssignments.sln
AdvancementAssignments/Library/
AdvancementAssignments/Logs/
AdvancementAssignments/UserSettings/
AdvancementAssignments/Temp/
